body {font-family: Calibri;}
* {box-sizing: border-box;}

textarea, input[type=text], input[type=tel], input[type=password], input[type=email]{
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

textarea:focus, input[type=text]:focus, input[type=tel]:focus, input[type=password]:focus, input[type=email]:focus{
background-color: #ddd;
outline: none;
}

button {
background-color: #00008b;
color: white;
padding: 14px 20px;
margin: 8px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

.signupbtn {
float: left;
width: 20%;
}

.rstbtn {
float: left;
width: 20%;
}

.container {
padding: 16px;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: #474e5d;
padding-top: 50px;
}

.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto;
border: 1px solid #888;
width: 80%;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

.clearfix::after {
content: "";
clear: both;
display: table;
}

@media screen and (max-width: 300px) {
.signupbtn {
width: 100%;
}
.rstbtn {
width: 100%;
}
}
    