body{
background: lightgrey;
}
form {
background-color: #f2f2f2;
padding: 20px;
border-radius: 5px;
width: 400px;
margin: auto;
}
h2, h3 {
text-align: center;
}
label {
display: block;
font-size: 18px;
margin-bottom: 10px;
}
input[type="email"],
input[type="password"] {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: none;
border-radius: 4px;
background-color: #fff;
box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}
button[type="reset"],
button[type="submit"],
button {
display: inline-block;
padding: 10px 20px;
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
margin-right: 10px;
}
button[type="reset"] {
background-color: #f44336;
}
button[type="submit"]:hover {
background-color: #3e8e41;
}
button:hover {
background-color: #ddd;
color: #000;
}
.divv {
margin-bottom: 20px;
text-align: center;
}
.divv:last-child {
background-color: #f1f1f1;
padding: 10px;
border-radius: 5px;
}
button.sgnupbtn {
background-color: #555;
}
button.sgnupbtn:hover {
background-color: #000;
}
