body {
height: 100%;
background-color: #F8CA9D;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
text-align: center;
color: #333333;
margin-top: 20px;
margin-bottom: 10px;
}
.please {
text-align: center;
color: #666666;
margin-bottom: 30px;
}
form {
background-color: #ffffff;
max-width: 600px;
margin: 0 auto;
padding: 40px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
border-radius: 10px;
margin-bottom: 50px;
}
label {
display: block;
font-size: 16px;
font-weight: 600;
color: #333333;
margin-bottom: 10px;
}
input,
select,
textarea {
width: 100%;
padding: 10px;
border: 1px solid #cccccc;
border-radius: 5px;
font-size: 16px;
color: #333333;
margin-bottom: 20px;
}
select option[value=""] {
color: #999999;
}
button[type="submit"],
button[type="reset"] {
background-color: #333333;
color: #ffffff;
font-size: 16px;
font-weight: 600;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
background-color: #666666;
}