body {
background: linear-gradient(90deg, #F2CF59 0%, #ff9100 100%);
}

.user-card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: 50px auto;
text-align: center;
font-family: arial;
background-color: #fff;
padding: 20px;
border-radius: 20px;
}

.user-card h2 {
font-size: 24px;
margin-bottom: 15px;
}

.user-card p {
font-size: 16px;
margin-bottom: 10px;
}

button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

a {
text-decoration: none;
font-size: 22px;
color: black;
}

button:hover, a:hover {
opacity: 0.7;
}